* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#login-form {
    width: 400px; /* Aumentado para dar más espacio */
    padding: 40px; /* Padding aumentado para mejor apariencia */
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px; /* Espacio alrededor del formulario */
}

#login-form .titulo {
    font-size: 2.5em; /* Tamaño de fuente aumentado para más impacto */
    color: #333;
    text-align: center;
    margin-bottom: 25px; /* Espacio aumentado debajo del título */
}

#login-form input {
    width: 100%;
    padding: 12px; /* Padding aumentado para más comodidad */
    margin-bottom: 15px; /* Espacio aumentado entre campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#login-form button {
    width: 100%;
    padding: 15px; /* Padding aumentado para un botón más grande */
    background-color: #00695c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em; /* Tamaño de fuente aumentado */
}

#login-form button:hover {
    background-color: #004d40;
}

#login-form .pie-form {
    text-align: center;
    margin-top: 20px; /* Espacio aumentado */
    font-size: 0.9em;
}

#login-form .pie-form a {
    color: #00695c;
    text-decoration: none;
}

#login-form .pie-form a:hover {
    color: #004d40;
}

.logo-login {
    display: block;
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto 20px; /* Centra la imagen y agrega margen en la parte inferior */
}
