* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background: #004d40;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 150px;
}

header .logo-container {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    font-size: 3.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

header .logo-container img {
    height: auto;
    width: 100px;
    display: block;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: #00695c;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #004d40;
    border-radius: 5px;
}

form {
    display: flex;
    align-items: center;
}

input[type=search], input[type=submit] {
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
    background: #ffcc00;
    color: #333;
    cursor: pointer;
    transition: filter 0.3s;
}

input[type=submit]:hover {
    filter: brightness(90%);
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #ffffff;
    color: #333;
    gap: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px; /* Ancho fijo establecido */
    max-width: 100%; /* Asegura que no exceda el ancho de la pantalla */
    margin: 20px auto;
}

.form-usuario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #00695c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #004d40;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch .label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch .checkbox:checked + .label {
    background-color: #2196F3;
}

.toggle-switch .checkbox:checked + .label:before {
    transform: translateX(26px);
}

.password-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

footer {
    background: #004d40;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}


h1{

    font-size: 2.5em;
        color: #004d40;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
}

