<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>PsychoBook</title>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
            rel="stylesheet"
            type="text/css" />
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="css/index_admin.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>


</head>

<body>

<header>
    <div class="logo-container">
        <img src="/img/logo.png" alt="Logo" />
    </div>
    <h1>Psychobook</h1>
</header>

<nav>
    <ul>
        <li><a href="admin">Inicio</a></li>
        <li><a href="listado_psicologos_admin">Nuestros Psicólogos</a></li>
        <li><a href="/psicologos_admin/crear_usuario">Crear Usuario</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>


    <form>
        <input type="search" name="q" placeholder="Buscar" />
        <input type="submit" value="¡Vamos!" />
    </form>
</nav>

<main>
    <article>
        <h2>Servicios de Psicología Profesional</h2>
        <p>
            En PsychoBook, entendemos la importancia del bienestar mental y emocional. Ofrecemos una variedad de servicios terapéuticos personalizados para ayudarte a alcanzar el equilibrio y la felicidad en tu vida.
        </p>
        <p>
            Nuestros especialistas en psicología están aquí para apoyarte con terapias basadas en evidencia y un enfoque compasivo y confidencial.
        </p>
    </article>

    <aside>
        <h2>Artículos Recientes</h2>
        <ul>
            <li><a href="#">Manejando la ansiedad en tiempos de cambio</a></li>
            <li><a href="#">Técnicas de Mindfulness para el día a día</a></li>
            <li><a href="#">La importancia de la salud mental</a></li>
            <li><a href="#">Consejos para mejorar tu autoestima</a></li>
        </ul>
    </aside>
</main>

<footer>
    <p>©Copyright 2023 PsychoBook. Todos los derechos reservados.</p>
</footer>
</body>
</html>