<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Buscador de Psicólogos - PsychoBook</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/listado_psicologos.css" />
</head>

<body>
<header>
    <div class="logo-container">
        <img src="../img/logo.png" alt="Logo" />
    </div>
    <h1>Psychobook</h1></header>
<nav>
    <ul>
        <li><a href="index">Inicio</a></li>
        <li><a href="listado_psicologos">Nuestros Psicólogos</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <form th:action="@{/psicologos/nombre}" method="get">
        <input type="search" placeholder="Buscar" name="nombre" />
        <input type="submit" class="submit" value="¡Vamos!" />
    </form>
</nav>

<main>
    <div class="etiquetas" >
        <a th:each="etiquetas : ${etiquetas}" th:href="@{/psicologos/etiqueta/{etiqueta}(etiqueta=${etiquetas.nombre})}" th:text="${etiquetas.nombre}"></a>
    </div>

    <h1>Buscar Psicólogos por Localidad</h1>
    <form id="search-form" th:action="@{/psicologos/localidad}" method="get">
        <input id="search-box" type="text" name="localidad" placeholder="Ingrese localidad">
        <button type="submit" class="submit2">Buscar</button>
    </form>
    <h1>Listado de Psicólogos</h1>

    <div class="container" th:if="${psicologosPage}" >
        <div class="profile-card" th:each="psicologos : ${psicologosPage.content}">
            <div class="profile-image">
                <img src="img/usuario.png" alt="Alberto Sancho">
            </div>
            <div class="profile-info">
                <h2 class="profile-name" th:text="${psicologos.nombre}">Alberto Sancho</h2>
                <span th:each="especialidades, iterStat : ${psicologos.especialidades}" th:text="${iterStat.last} ? ${especialidades.nombre} : ${especialidades.nombre} + ', '">

                </span>
                <p class="profile-description" th:text="${psicologos.descripcion}">Es posible que te hayas preguntado: no sé si merece la pena, qué vergüenza, decirte que yo también pasé por esa fase, Alberto, ¿tú?, sí, has leído bien. Hago sesiones de mayor duración con lo que podremos distanciar más las sesiones.</p>
                <a th:href="@{/psicologos/detalle/{id}(id=${psicologos.id})}" class="profile-link">Ver Ficha</a>
            </div>

        </div>
        <div class="pagination-container">
            <ul class="pagination">
                <li th:classappend="${psicologosPage.first ? 'disabled' : ''}">
                    <a th:href="@{/listado_psicologos(page=${psicologosPage.number - 1}, size=${psicologosPage.size})}">Anterior</a>
                </li>
                <li th:classappend="${psicologosPage.last ? 'disabled' : ''}">
                    <a th:href="@{/listado_psicologos(page=${psicologosPage.number + 1}, size=${psicologosPage.size})}">Siguiente</a>
                </li>
            </ul>

        </div>
    </div>


</main>

<footer>
    <p>©Copyright 2023 PsychoBook. Todos los derechos reservados.</p>
</footer>

</body>
</html>