
<!doctype html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Formulario de Acceso </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="login-container">
    <div id="central">
        <div id="login-form">
            <img src="img/logo.png" alt="Logo de la Empresa" class="logo-login">
            <div class="titulo">
                Bienvenido
            </div>

            <form th:method="POST" th:object="${user}" th:action="@{/login_user}">
                <input type="text" th:field="*{email}" placeholder="Usuario" required name="usuario">

                <input type="password" th:field="*{password}" placeholder="Contraseña" required name="password">

                <button title="Ingresar" name="Ingresar">Iniciar Sesión</button>
            </form>

            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                <a href="#">¿No tienes Cuenta? Registrate</a>
            </div>
            <p id="error"></p>
        </div>
    </div>
</div>
</body>
</html>