<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Psicólogos en ' + ${city}">Psicólogos en Ciudad</title>
    <!-- Añadir enlaces a CSS aquí -->
</head>
<body>
<header>
    <!-- Cabecera de la página, podría incluir una barra de navegación -->
</header>

<main>
    <h1 th:text="'Psicólogos en ' + ${city}">Psicólogos en Ciudad</h1>
    <!-- Contenedor para la lista de psicólogos -->
    <div class="form-section">
        <h2>Datos Opcionales</h2>
        <div class="form-group">
            <label for="especialidad">Especialidad:</label>
            <select id="especialidad" th:field="*{centro.id}" class="form-control" onchange="mostrarSiguienteEspecialidad()">
                <option value="">Seleccione una Especialidad</option>
                <option th:each="especialidad : ${especialidades}"
                        th:value="${especialidad.id}"
                        th:text="${especialidad.nombre}">Centro 1</option>
            </select>
        </div>
        <div style="display:none;" id="contenedorEspecialidades">
            <select id="templateEspecialidad">
                <option value="">Seleccione una Especialidad</option>
                <option th:each="especialidad : ${especialidades}" th:value="${especialidad.id}" th:text="${especialidad.nombre}"></option>
            </select>
        </div>
    </div>
</main>

<footer>
    <!-- Pie de página -->
</footer>
</body>
</html>
