<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Psicólogos en ' + ${city}">Psicólogos en Ciudad</title>
    <!-- Añadir enlaces a CSS aquí -->
</head>
<body>
<header>
    <!-- Cabecera de la página, podría incluir una barra de navegación -->
</header>

<main>
    <h1 th:text="'Psicólogos en ' + ${city}">Psicólogos en Ciudad</h1>
    <!-- Contenedor para la lista de psicólogos -->
    <div class="container">
        <!-- Elemento individual para un psicólogo -->
        <!-- Asegúrate de repetir este bloque para cada psicólogo usando th:each -->
    </div>
</main>

<footer>
    <!-- Pie de página -->
</footer>
</body>
</html>
