<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>PsychoBook</title>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
            rel="stylesheet"
            type="text/css" />
    <link rel="stylesheet" href="css/index_admin.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>



</head>

<body>

<header>
    <div class="logo-container">
        <img src="/img/logo.png" alt="Logo" />
    </div>
    <h1>Psychobook</h1>
</header>

<nav>
    <ul>
        <li><a href="admin">Inicio</a></li>
        <li><a href="listado_psicologos_admin">Nuestros Psicólogos</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>


    <form>
        <input type="search" name="q" placeholder="Buscar" />
        <input type="submit" value="¡Vamos!" />
    </form>
</nav>

<main>
    <h1>Crear nuevo Psicólogo</h1>

    <form th:action="@{/psicologos/guardar}" th:object="${psicologo}" method="post">
        <input type="text" th:field="*{nombre}" placeholder="Nombre" />
        <input type="text" th:field="*{descripcion}" placeholder="Descripción" />
        <input type="text" th:field="*{localidad}" placeholder="Localidad" />
        <input type="file" name="imagenFile" />
        <button type="submit">Guardar Psicólogo</button>
    </form>
</main>

<footer>
    <p>©Copyright 2023 PsychoBook. Todos los derechos reservados.</p>
</footer>
</body>
</html>