<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>PsychoBook</title>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
            rel="stylesheet"
            type="text/css" />
    <link rel="shortcut icon" href="../../img/logo.png">
    <link rel="stylesheet" href="../../css/updatePsicologo.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>



</head>

<body>

<header>
    <div class="logo-container">
        <img src="../../img/logo.png" alt="Logo" />
    </div>
    <h1>Psychobook</h1>
</header>

<nav>
    <ul>
        <li><a href="/admin">Inicio</a></li>
        <li><a href="/listado_psicologos_admin">Nuestros Psicólogos</a></li>
        <li><a href="/psicologos_admin/crear_usuario">Crear Usuario</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>


    <form th:action="@{/psicologos_admin/nombre}" method="get">
        <input type="search" placeholder="Buscar" name="nombre" />
        <input type="submit" class="submit" value="¡Vamos!" />
    </form>
</nav>

<main>
    <div class="main-container">
    <h1 class="main-title">Modificar Psicólogo</h1>

        <form th:action="@{/psicologos/update}" th:object="${psicologo}" method="post" class="psicologo-form">

            <input type="hidden" th:field="*{id}">

            <input style="display:none;" th:field="*{user.id}" th:text="${user}">

            <div class="form-row">
            <div class="form-section">
                <h2>Datos del Psicólogo</h2>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" th:field="*{nombre}" placeholder="Nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" th:field="*{descripcion}" placeholder="Descripción" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="localidad">Localidad:</label>
                    <input type="text" id="localidad" th:field="*{localidad}" placeholder="Localidad" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="Email de Contacto" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input type="text" id="telefono" th:field="*{telefono}" placeholder="Telefono" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="colegiado">Colegiado:</label>
                    <input type="text" id="colegiado" th:field="*{colegiado}" placeholder="Colegiado" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="presencial">Presencial:</label>
                    <input type="checkbox" id="presencial" th:field="*{presencial}" placeholder="Presencial" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="linea">Linea:</label>
                    <input type="checkbox" id="linea" th:field="*{linea}" placeholder="Linea" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="genero">Género:</label>
                    <select id="genero" th:field="*{genero}" placeholder="Género" class="form-control" >
                        <option value="">Seleccion Género</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="validado">Validado:</label>
                    <input type="checkbox" id="validado" th:field="*{validado}" placeholder="Validado" class="form-control" />
                </div>

            </div>

            <div class="form-section">
                <h2>Datos del Centro</h2>
                <div class="form-group">
                    <label for="centro">Nombre del Centro:</label>
                    <select id="centro" th:field="*{centro.id}" class="form-control" onchange="actualizarDatosCentro()">
                        <option value="">Seleccione un Centro</option>
                        <option th:each="centro : ${centros}"
                                th:value="${centro.id}"
                                th:text="${centro.nombre}">Centro 1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="centro-direccion">Dirección:</label>
                    <textarea id="centro-direccion" th:field="*{centro.direccion}" readonly placeholder="Dirección" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="centro-localidad">Localidad:</label>
                    <input type="text" id="centro-localidad" th:field="*{centro.localidad}" readonly placeholder="Localidad" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="centro-web">Web:</label>
                    <input type="text" id="centro-web" th:field="*{centro.web}" readonly placeholder="Web" class="form-control" />
                </div>
            </div>
                <div class="form-section">
                    <h2>Especialidades</h2>
                    <div class="form-group">
                        <label for="especialidad">Especialidades:</label>
                        <select multiple id="especialidad" th:field="*{especialidades}" class="form-control">
                            <option value="">Seleccione una Especialidad</option>
                            <option th:each="especialidades : ${especialidades}"
                                    th:value="${especialidades.id}"
                                    th:text="${especialidades.nombre}">Especialidad 1</option>
                        </select>
                    </div>

                </div>
                <div class="form-section">
                    <h2>Otras Gestiones</h2>
                    <div class="form-group">
                        <button type="submit" class="btn-submit2">Gestionar Servicios</button>
                        <button type="submit" class="btn-submit2">Gestionar Atención</button>
                        <button type="submit" class="btn-submit2">Gestionar Reseñas</button>
                    </div>

                </div> <!--
                    <div th:if="${servicios}" class="servicios-details">
                        <h3>Detalles de Servicios Seleccionados:</h3>
                        <div th:each="servicio : ${servicios}" >
                            <div th:text="'Nombre: ' + ${servicio.nombre}"></div>
                            <div th:text="'Descripción: ' + ${servicio.descripcion}"></div>
                            <div th:text="'Tarifa: ' + ${servicio.tarifas}"></div>
                        </div>
                    </div>
                       -->
            </div>

        <button type="submit" class="btn-submit">Actualizar Psicólogo</button>
    </form>
    </div>
</main>

<footer>
    <p>©Copyright 2023 PsychoBook. Todos los derechos reservados.</p>
</footer>
</body>
</html>

<script>
function actualizarDatosCentro() {
    var centroId = document.getElementById('centro').value;
    if (centroId) {
        fetch('/api/centros/' + centroId)
            .then(response => response.json())
            .then(data => {
                document.getElementById('centro-direccion').value = data.direccion;
                document.getElementById('centro-localidad').value = data.localidad;
                document.getElementById('centro-web').value = data.web;
            })
            .catch(error => console.error('Error:', error));
    }
}
</script>